.checkout__banner {
  height: 10vh;
  overflow: hidden;
}
.checkout__body {
  display: flex;
  margin-top: 1rem;
}

.checkout__L {
  margin-left: 2vw;
}
.checkout__R {
  margin-right: 2vw;
  display: flex;
  flex: 1;
  justify-content: center;
}

@media (max-width: 550px) {
  .checkout__body {
    display: flex;
    flex-direction: column-reverse;
  }
  .checkout__R {
    justify-content: center;
    align-items: center;
  }
}
