.button {
  font-size: 1rem;
  padding: 5px;
  padding-inline: 2rem;
  border: 3 px solid;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.button:hover {
  background-color: orange;
  color: black;
  transition: all 0.2s ease-out;
}
